@import "materialize";

$font-stack:    Helvetica, sans-serif;
$primary-color: #000;

body {
  color: $primary-color;
  font: 100% $font-stack;
  margin: 0px;
  padding: 0 0 0 0px;
}

h1 {
  text-align: center;
}

.btn {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0 0.5rem;
}

.add {
  &:hover{
    background-color: #4F4;
    color: #FFF;
  }
}

.edit {
  &:hover{
    background-color: #44F;
    color: #FFF;
  }
}

.delete {
  &:hover{
    background-color: #F44;
    color: #FFF;
  }
}

.header {
  background: #000;
  .header-left {
    color: #FFF;
    margin-left: 2.5vw;
    text-align: center;
  }
}

.item-price{
  text-align: right;
}

.menu-body {
  margin: auto;
  width: 50vw;
}

.menu-category {
  margin-bottom: 2.5vw;
}
